@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");

@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

body{
    background-color: rgb(248, 234, 217);
    padding: 20px;
}
h1{
    background-color: beige;
}

footer{
    background-color: beige;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section {
    margin-top: 30px;
    color: var(--secondary-color);
    display: flex;
}


.article-section { 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
